body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 5%;
  font-size: 150%;
}

.profile {
  display: inline-block;
  max-width: 60%;
}

.profile-img {
  width: 70%;
}

.description {
  font-size: 130%;
  line-height: 1.5;
  margin-bottom: 15%;
}



@media screen and (max-width: 768px) {

  .profile-img {
    width: 110%;
  }
}
